.heading{width: 80%; font-size: 22px; color: skyblue;}
.name_of_objects{color: blue; font-size: 15px;}
#camera{border: 2px dashed black; width: 850px; height: 300px;}
body{background-color:salmon ;}